numpy
scipy
nibabel
nilearn
matplotlib==3.6.2
pillow
pandas
seaborn==0.12.1
tqdm
statsmodels
plotnine==0.12.3
certifi
nctpy
networkx==2.8.8
matlabengine==9.13.11
./python_packages/neuromaps
./python_packages/brainvistools
./python_packages/PyNeudorf